# -------------- Desarrollo --------------
APP_CONTEXT_PATH=/ucacue

SPRING_PROFILES_ACTIVE=swagger #(prod, swagger)

APP_PORT=8080
DB_HOST=db
DB_PORT=5432
DB_DATABASE=ucaapp
DB_USERNAME=postgres
DB_PASSWORD=admin
HIBERNATE_DDL_AUTO=update #(create, create-drop, validate, update)
SQL_INIT_MODE=never #(always, never, embedded)
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=true
JPA_DEFAULT_SCHEMA=auth

FLYWAY_ENABLED=true
FLYWAY_LOCATIONS=db/migration

PRIVATE_KEY=xxxxx-xxxxx-xxxxx
USER_GENERATOR=AUTH0JWT-xxxxx-xxxx
MAX_SESSIONS=1
COOKIE_SECURE=false
REFRESH_TOKEN_COOKIE=refreshToken
ACCESS_TOKEN_DURATION=5m
REFRESH_TOKEN_DURATION=7d
REFRESH_TOKEN_SAME_SITE=Lax


# API CATIA
CATIA_API_HOST_DOCKER=http://internal.docker:8082
CATIA_API_KEY="xxxx=="
CATIA_API_KEY_HEADER=HEADER-API


# -------------- PRODUCCION --------------
# PATH=/ucacue

# SPRING_PROFILES_ACTIVE=prod

# APP_PORT=8080
# DB_HOST=ucacue_api
# DB_PORT=5432
# DB_DATABASE=ucaapp
# DB_USERNAME=postgres
# DB_PASSWORD=9s%N-Ife5Zo0
# HIBERNATE_DDL_AUTO=update
# SQL_INIT_MODE=never
# JPA_SHOW_SQL=false
# JPA_FORMAT_SQL=true
# JPA_DEFAULT_SCHEMA=auth

# FLYWAY_ENABLED=true
# FLYWAY_LOCATIONS=db/migration

# PRIVATE_KEY=
# USER_GENERATOR=
# MAX_SESSIONS=1
# COOKIE_SECURE=true
# REFRESH_TOKEN_COOKIE=__Secure-refreshToken
# ACCESS_TOKEN_DURATION=5m
# REFRESH_TOKEN_DURATION=7d
# REFRESH_TOKEN_SAME_SITE=Lax

# CATIA_API_HOST_DOCKER=http://internal.docker:8082
# CATIA_API_KEY="xxxx=="
# CATIA_API_KEY_HEADER=HEADER-API